/*
 Theme Name:   Highwind Light
 Theme URI:    http://www.sebastiendumont.com/highwind-light/
 Description:  Highwind Light is a free child theme with a few modifications with the header and content only.
 Author:       Sebastien Dumont
 Author URI:   http://www.sebastiendumont.com
 Template:     highwind
 Version:      1.1.1
 Tags:         white, two-columns, left-sidebar, right-sidebar, fluid-width, sticky-post, threaded-comments, translation-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, theme-options, light
 Text Domain:  highwind_light

 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html

 Highwind WordPress Theme is the parent theme developed by James Koster jameskoster.co.uk
 Highwind Light WordPress Theme, Copyright 2014 Sebastien Dumont sebastiendumont.com
 Highwind Light is distributed under the terms of the GNU GPL
*/

@import url("../highwind/style.css");
